.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  accent-color: navy;
}

.App header {
  background-color: #282c34;
  font-size: 1.25em;
  color: #bac5d5;
  top: 0;
  position: sticky;
  z-index: 3;
}

.App header h1 {
  margin: 0em;
  padding: 1em;
}

.App footer {
  background-color: #bac5d5;
  color: #282c34;
  bottom: 0;
  position: sticky;
  z-index: 3;
}

.App footer a {
  color: #282c34;
}

.App .content {
  flex-grow: 1;
}